<div class="container">
	<div class="row">
	
			<div class="col-md-3">
				
			</div>	
			<div class="col-md-6 text-center">
			<h1>Search Options</h1>
			<form>

				<div class="form-group">
					<label for="exampleInputEmail1">Address</label>
					<input type="text" 
					class="form-control" 
					id="exampleInputEmail1" 
					placeholder="City or Address">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Category</label>
					<input type="text" 
					class="form-control" 
					id="exampleInputPassword1" 
					placeholder="Pick a Category">
				</div>
				<div class="form-group">
				    <div class="form-check">
				      <input class="form-check-input" type="checkbox" id="gridCheck">
				      <label class="form-check-label" for="gridCheck">
				        Open Now
				      </label>
				    </div>
				</div>
				<div class="form-group">
					<input type="range" min="0" max="20" name="radius">
				</div>
				<div class="row">
				<div class="col-md-6">
					<button class="btn btn-outline-primary">Search</button>
				</div>
				<div class="col-md-6">
					<button class="btn btn-outline-primary">Start Over</button>
				</div>
				</div>
	
				
			</form>
			</div>	
			<div class="col-md-3">
				
			</div>
		
	</div>
</div>





<!-- 
<div class="row">
	<form>
		<div class="col-md-3">
			
		</div>			
		<div class="col-md-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Address</label>
				<input type="text" 
				class="form-control" 
				id="exampleInputEmail1" 
				placeholder="City or Address">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Category</label>
				<input type="text" 
				class="form-control" 
				id="exampleInputPassword1" 
				placeholder="Pick a Category">
			</div>
			<div class="form-group text-center">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" id="gridCheck">
			      <label class="form-check-label" for="gridCheck">
			        Open Now
			      </label>
			    </div>
			</div>
			<div class="form-group text-center">
				<input type="range" name="radius">
			</div>
			<div class="form-group text-center">
				<button class="btn btn-primary">Search</button>
				<button class="btn btn-primary">Start Over</button>
			</div>
		</div>		
		<div class="col-md-3">
			
		</div>
		</form>
</div>
 -->
